//League of Legends
.with-linear-gradient-0 {
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(323deg, rgba(194,143,44,1) 0%, rgba(83,91,250,1))1;
}

.background-0{
    background: rgb(20,33,47);
    background: linear-gradient(45deg, rgba(20,33,47,1) 0%, rgba(50,37,12,1) 100%);
}

.background-btn-0{
    background: rgb(125,92,28);
    background: linear-gradient(41deg, rgba(125,92,28,1) 0%, rgba(140,103,31,1) 100%);
}
.hover-btn-0:hover{
    background: rgb(59,44,14);
    color: white;
}

//VALORANT
.with-linear-gradient-1 {
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(248deg, rgba(243,68,83,1) 15%, rgba(80,25,29,1))1;
}

.background-1{
    background: rgb(25,8,10);
    background: linear-gradient(238deg, rgba(25,8,10,1) 0%, rgba(57,16,20,1) 100%);
}

.background-btn-1{
    background: rgb(175,50,61);
    background: linear-gradient(41deg, rgba(175,50,61,1) 0%, rgba(177,50,61,1) 100%);
}

.hover-btn-1:hover{
    background: rgb(115,33,40);
    color: white;
}

//Call Of Duty
.with-linear-gradient-2 {
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(141deg, rgba(114,152,156,1) 0%, rgba(216,231,234,1) 50%, rgba(114,152,156,1))1;
}

.background-2{
    background: rgb(35,46,47);
    background: linear-gradient(238deg, rgba(35,46,47,1) 0%, rgba(84,89,88,1) 51%, rgba(35,46,47,1) 100%);
}

.background-btn-2{
    background: rgb(75,99,101);
    background: linear-gradient(41deg, rgba(75,99,101,1) 0%, rgba(78,102,105,1) 100%);
}

.hover-btn-2:hover{
    background: rgb(47,61,62);
    color: white;
}


//FIFA
.with-linear-gradient-3 {
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(141deg, rgba(86,153,224,1) 0%, rgba(110,101,237,1) 46%, rgba(192,32,250,1))1;
}

.background-3{
    background: rgb(35,46,47);
    background: linear-gradient(321deg, rgba(35,46,47,1) 0%, rgba(37,20,66,1) 50%, rgba(58,11,75,1) 100%);
}

.background-btn-3{
    background: rgb(78,72,168);
    background: linear-gradient(41deg, rgba(78,72,168,1) 0%, rgba(64,105,162,1) 50%, rgba(86,64,167,1) 100%);
}

.hover-btn-3:hover{
    background: rgb(50,60,115);
    color: white;
}

.img-200px{
    width: 200px;
}

.img-100px{
    width: 100px;
}