<app-cabecera onload="comprobarMedia()"></app-cabecera>
<div class="row m-0 my-2 justify-content-center">
  <div class="col-11 col-md-8 w-50" id="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/img/carrousel/BANNER_GG_YOUTUBE.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/carrousel/BANNER_GG_YOUTUBE.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/carrousel/BANNER_GG_YOUTUBE.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="row m-0 p-0">
  <div class="col-12 my-4">
    <h2 class="separator-title font-Ethnocentric">ÚLTIMOS TORNEOS</h2>
  </div>
</div>

<app-torneo class="row m-0 p-0 justify-content-between"></app-torneo>

<div class="row m-0 p-0">
  <div class="col-12 my-4">
    <h2 class="separator-title font-Ethnocentric">TOP JUGADORES / EQUIPOS</h2>
  </div>
</div>


<!-- LEAGUE OF LEGENDS -->

<div class="row m-0 p-0 justify-content-between">
  <div class="col-11 col-md-5 m-3 p-3 with-linear-gradient-lol background-lol">
    <div class="row m-0 p-0">
      <div class="col-12">
        <div class="text-center">
          <img src="../../../assets/juegos/1.png" alt="LEAGUE OF LEGENDS LOGO" class="img-100px">
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 1</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 2</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 3</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- VALORANT -->

  <div class="col-11 col-md-5 m-3 p-3 with-linear-gradient-valorant background-valorant">
    <div class="row m-0 p-0">
      <div class="col-12">
        <div class="text-center">
          <img src="../../../assets/juegos/2.png" alt="VALORANT LOGO" class="img-100px">
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 1</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 2</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 3</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- COD -->

  <div class="col-11 col-md-5 m-3 p-3 with-linear-gradient-cod background-cod">
    <div class="row m-0 p-0">
      <div class="col-12">
        <div class="text-center">
          <img src="../../../assets/juegos/3.png" alt="CALL OF DUTY LOGO" class="img-100px">
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 1</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 2</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 3</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- FIFA -->

  <div class="col-11 col-md-5 m-3 p-3 with-linear-gradient-fifa background-fifa">
    <div class="row m-0 p-0">
      <div class="col-12">
        <div class="text-center">
          <img src="../../../assets/juegos/4.png" alt="FIFA 21 LOGO" class="img-100px">
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 1</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 2</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 3</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Noticias -->

<div class="row m-0 p-0">
  <div class="col-12 my-4">
    <h2 class="separator-title font-Ethnocentric">ÚLTIMAS NOTICIAS</h2>
  </div>
</div>

<app-noticia class="row m-0 p-0 justify-content-between"></app-noticia>

<!-- Formulario contacto y otros links -->

<div class="row m-0 p-0">
  <div class="col-12 my-4">
    <span class="separator-title font-Ethnocentric"></span>
  </div>
</div>

<div class="row m-0 p-0 justify-content-between">
  <div class="col-12 col-md-5">
    <div class="row m0 p-0">
      <div class="col-12">
        <h5 class="my-2 text-center">¿Tienes dudas o quieres ser patrocinador?</h5>
      </div>
      <div class="col-12">
        <form [formGroup]="homeContact" (ngSubmit)="enviarCorreo()" class="p-3 m-3">
          <div class="py-2">
            <strong class="d-block">Correo electrónico</strong>
            <input type="email" formControlName="email" name="email" id="email" class="form-control m-auto my-2"
              placeholder="Introduzca su correo electrónico">
            <div *ngIf="homeContact.get('email').errors && homeContact.get('email').dirty">
              <small class="alert-danger px-1" *ngIf="homeContact.get('email').hasError('required')">El email es
                obligatorio</small>
              <small class="alert-danger px-1" *ngIf="homeContact.get('email').hasError('email')">El email no es
                valido</small>
            </div>
          </div>

          <div class="py-2">
            <strong class="d-block">Nombre</strong>
            <input type="text" formControlName="nombre" name="nombre" id="nombre" class="form-control m-auto my-2"
              placeholder="Introduzca su nombre">
            <div *ngIf="homeContact.get('nombre').errors && homeContact.get('nombre').dirty">
              <small class="alert-danger px-1" *ngIf="homeContact.get('nombre').hasError('required')">El nombre es
                obligatorio</small>
            </div>
          </div>

          <div class="py-2">
            <strong class="d-block">Asunto</strong>
            <select class="form-control" formControlName="asunto" id="asunto">
              <option>Quiero ser patrocinador</option>
              <option>Tengo dudas</option>
            </select>
            <div *ngIf="homeContact.get('asunto').errors && homeContact.get('asunto').dirty">
              <small class="alert-danger px-1" *ngIf="homeContact.get('asunto').hasError('required')">El asunto es
                obligatorio</small>
            </div>
          </div>

          <div class="py-2">
            <strong class="d-block">Mensaje</strong>
            <textarea class="form-control" rows="5" formControlName="mensaje" id="mensaje"
              placeholder="Escriba aqui el mensaje..."></textarea>
            <div *ngIf="homeContact.get('mensaje').errors && homeContact.get('mensaje').dirty">
              <small class="alert-danger px-1" *ngIf="homeContact.get('mensaje').hasError('required')">El mensaje es
                obligatorio</small>
            </div>
          </div>

          <div class="py-2 text-center">
            <button class="btn btn-enviar w-25" [disabled]=homeContact.invalid>Enviar</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-5">
    Otros enlaces
  </div>
</div>