<app-cabecera onload="comprobarMedia()"></app-cabecera>
<div class="row m-0 my-2 justify-content-center">
  <div class="col-11 col-md-8 w-50" id="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/img/carrousel/BANNER_GG_YOUTUBE.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/carrousel/BANNER_GG_YOUTUBE.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/carrousel/BANNER_GG_YOUTUBE.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="row m-0 p-0">
  <div class="col-12 my-4">
    <h2 class="separator-title font-Ethnocentric">ÚLTIMOS TORNEOS</h2>
  </div>
</div>

<!-- LEAGUE OF LEGENDS -->

<div class="row m-0 p-0 justify-content-between">
  <div class="col-11 col-md-5 m-3 p-3 with-linear-gradient-lol background-lol">
    <div class="row m-0 p-0">
      <div class="col-12">
        <div class="text-center">
          <img src="../../../assets/juegos/LEAGUE OF LEGENDS.png" alt="LEAGUE OF LEGENDS LOGO" class="img-200px">
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <h2 class="m-0">Prize Pool</h2>
        <h1 class="m-0">100€</h1>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-6 my-4 text-center">
        <small class="d-block">
          <fa-icon [icon]="faExclamation"></fa-icon>&nbsp;Fin de inscripciones&nbsp;<fa-icon [icon]="faExclamation">
          </fa-icon>
        </small>
        <strong>15 Mayo 2021</strong>
      </div>
      <div class="col-6 my-4 text-center">
        <small class="d-block">Número de equipos inscritos</small>
        <strong>{{inscripciones}}</strong>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <small class="d-block">
          <fa-icon [icon]="faExclamation"></fa-icon>&nbsp;Comienzo del torneo:&nbsp;<fa-icon [icon]="faExclamation">
          </fa-icon>
        </small>
        <strong>16 Mayo 2021</strong>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <button class="btn background-btn-lol text-white w-50 p-2 h4 hover-btn-lol">INSCRIBETE</button>
      </div>
    </div>

  </div>

  <!-- VALORANT -->

  <div class="col-11 col-md-5 m-3 p-3 with-linear-gradient-valorant background-valorant">
    <div class="row m-0 p-0">
      <div class="col-12">
        <div class="text-center">
          <img src="../../../assets/juegos/VALORANT.png" alt="VALORANT LOGO" class="img-200px">
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <h2 class="m-0">Prize Pool</h2>
        <h1 class="m-0">100€</h1>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-6 my-4 text-center">
        <small class="d-block">
          <fa-icon [icon]="faExclamation"></fa-icon>&nbsp;Fin de inscripciones&nbsp;<fa-icon [icon]="faExclamation">
          </fa-icon>
        </small>
        <strong>15 Mayo 2021</strong>
      </div>
      <div class="col-6 my-4 text-center">
        <small class="d-block">Número de equipos inscritos</small>
        <strong>3</strong>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <small class="d-block">
          <fa-icon [icon]="faExclamation"></fa-icon>&nbsp;Comienzo del torneo:&nbsp;<fa-icon [icon]="faExclamation">
          </fa-icon>
        </small>
        <strong>16 Mayo 2021</strong>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <button class="btn background-btn-valorant text-white w-50 p-2 h4 hover-btn-valorant">INSCRIBETE</button>
      </div>
    </div>

  </div>

  <!-- COD -->

  <div class="col-11 col-md-5 m-3 p-3 with-linear-gradient-cod background-cod">
    <div class="row m-0 p-0">
      <div class="col-12">
        <div class="text-center">
          <img src="../../../assets/juegos/CALL OF DUTY.png" alt="CALL OF DUTY LOGO" class="img-200px">
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <h2 class="m-0">Prize Pool</h2>
        <h1 class="m-0">100€</h1>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-6 my-4 text-center">
        <small class="d-block">
          <fa-icon [icon]="faExclamation"></fa-icon>&nbsp;Fin de inscripciones&nbsp;<fa-icon [icon]="faExclamation">
          </fa-icon>
        </small>
        <strong>15 Mayo 2021</strong>
      </div>
      <div class="col-6 my-4 text-center">
        <small class="d-block">Número de equipos inscritos</small>
        <strong>3</strong>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <small class="d-block">
          <fa-icon [icon]="faExclamation"></fa-icon>&nbsp;Comienzo del torneo:&nbsp;<fa-icon [icon]="faExclamation">
          </fa-icon>
        </small>
        <strong>16 Mayo 2021</strong>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <button class="btn background-btn-cod text-white w-50 p-2 h4 hover-btn-cod">INSCRIBETE</button>
      </div>
    </div>
  </div>

  <!-- FIFA -->

  <div class="col-11 col-md-5 m-3 p-3 with-linear-gradient-fifa background-fifa">
    <div class="row m-0 p-0">
      <div class="col-12">
        <div class="text-center">
          <img src="../../../assets/juegos/FIFA 21.png" alt="FIFA 21 LOGO" class="img-200px">
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <h2 class="m-0">Prize Pool</h2>
        <h1 class="m-0">100€</h1>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-6 my-4 text-center">
        <small class="d-block">
          <fa-icon [icon]="faExclamation"></fa-icon>&nbsp;Fin de inscripciones&nbsp;<fa-icon [icon]="faExclamation">
          </fa-icon>
        </small>
        <strong>15 Mayo 2021</strong>
      </div>
      <div class="col-6 my-4 text-center">
        <small class="d-block">Número de equipos inscritos</small>
        <strong>3</strong>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <small class="d-block">
          <fa-icon [icon]="faExclamation"></fa-icon>&nbsp;Comienzo del torneo:&nbsp;<fa-icon [icon]="faExclamation">
          </fa-icon>
        </small>
        <strong>16 Mayo 2021</strong>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <button class="btn background-btn-fifa text-white w-50 p-2 h4 hover-btn-fifa">INSCRIBETE</button>
      </div>
    </div>
  </div>
</div>

<div class="row m-0 p-0">
  <div class="col-12 my-4">
    <h2 class="separator-title font-Ethnocentric">TOP JUGADORES / EQUIPOS</h2>
  </div>
</div>


<!-- LEAGUE OF LEGENDS -->

<div class="row m-0 p-0 justify-content-between">
  <div class="col-11 col-md-5 m-3 p-3 with-linear-gradient-lol background-lol">
    <div class="row m-0 p-0">
      <div class="col-12">
        <div class="text-center">
          <img src="../../../assets/juegos/LEAGUE OF LEGENDS.png" alt="LEAGUE OF LEGENDS LOGO" class="img-100px">
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 1</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 2</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 3</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- VALORANT -->

  <div class="col-11 col-md-5 m-3 p-3 with-linear-gradient-valorant background-valorant">
    <div class="row m-0 p-0">
      <div class="col-12">
        <div class="text-center">
          <img src="../../../assets/juegos/VALORANT.png" alt="VALORANT LOGO" class="img-100px">
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 1</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 2</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 3</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- COD -->

  <div class="col-11 col-md-5 m-3 p-3 with-linear-gradient-cod background-cod">
    <div class="row m-0 p-0">
      <div class="col-12">
        <div class="text-center">
          <img src="../../../assets/juegos/CALL OF DUTY.png" alt="CALL OF DUTY LOGO" class="img-100px">
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 1</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 2</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 3</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- FIFA -->

  <div class="col-11 col-md-5 m-3 p-3 with-linear-gradient-fifa background-fifa">
    <div class="row m-0 p-0">
      <div class="col-12">
        <div class="text-center">
          <img src="../../../assets/juegos/FIFA 21.png" alt="FIFA 21 LOGO" class="img-100px">
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 1</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 2</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
      <div class="col-12 my-4 text-center">
        <div class="row m-0 p-0">
          <div class="col-2">
            <h5 class="m-0"># 3</h5>
          </div>
          <div class="col-10">
            <h5 class="m-0 text-start">GG TEAM</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Noticias -->

<div class="row m-0 p-0">
  <div class="col-12 my-4">
    <h2 class="separator-title font-Ethnocentric">ÚLTIMAS NOTICIAS</h2>
  </div>
</div>

<!-- Valorant noticias -->

<div class="row m-0 p-0" id="noticias-valorant">
  <div class="col-12 my-4">
    <div class="row m-0 p-0">
      <div class="col-12 p-0">
        <h5 class="m-0 separator-title-valorant-news text-left font-Ethnocentric">VALORANT</h5>
      </div>
    </div>

    <div class="row my-2 p-0 justify-content-between">
      <div class="col-12 col-md-5 p-4">
        <p>Última Hora. Camikaze readmitido en el equipo de Valorant de Glitch Gaming debido a que ha pedido disculpas
          al fundador Kiimpy, tras el envío de un mensaje ofensivo. El
          jugador está en su momento crítico, ya que si continua haciendo el gamberro, será expulsado permanentemente
          del club de eSports.</p>
      </div>

      <div class="col-12 col-md-5 align-self-center p-4">
        <img src="../../../assets/noticias/VALORANT NOTICIAS.jpeg" class="w-100 img-fluid">
      </div>

    </div>

  </div>
</div>

<div class="row m-0 p-0" id="noticias-lol">
  <div class="col-12 my-4">
    <div class="row m-0 p-0">
      <div class="col-12 p-0">
        <h5 class="m-0 separator-title-lol-news text-left font-Ethnocentric">LEAGUE OF LEGENDS</h5>
      </div>
    </div>

    <div class="row my-2 p-0 justify-content-between">

      <div class="col-12 col-md-5 align-self-center p-4" id="lol_news_img">
        <img src="../../../assets/noticias/LOL NOTICIAS.jpeg" class="w-100 img-fluid">
      </div>

      <div class="col-12 col-md-5 p-4" id="lol_news_description">
        <p>Kiimpy se pone a mandos de Syndra, pero no consigue nada, ¿por que? Dicen por ahí que el jungla del equipo
          Marpe, le hace mas KS con su Nocturne "Terror helado" que un Maestro Yi dandole a la Q. En su ulti esconde más daño
          que la ulti del Mordekaiser. La estela de su Q le da más velocidad de movimiento que el cañon de Jinx, es una
          bala.</p>
      </div>

      <div class="col-12 col-md-5 align-self-center p-4" id="lol_news_after"></div>

    </div>

  </div>
</div>

<!-- Formulario contacto y otros links -->

<div class="row m-0 p-0">
  <div class="col-12 my-4">
    <span class="separator-title font-Ethnocentric"></span>
  </div>
</div>

<div class="row m-0 p-0 justify-content-between">
  <div class="col-12 col-md-5">
    <div class="row m0 p-0">
      <div class="col-12">
        <h5 class="my-2 text-center">¿Tienes dudas o quieres ser patrocinador?</h5>
      </div>
      <div class="col-12">
        <form [formGroup]="homeContact" (ngSubmit)="enviarCorreo()" class="p-3 m-3">
          <div class="py-2">
            <strong class="d-block">Correo electrónico</strong>
            <input type="email" formControlName="email" name="email" id="email" class="form-control m-auto my-2"
              placeholder="Introduzca su correo electrónico">
              <div *ngIf="homeContact.get('email').errors && homeContact.get('email').dirty">
                <small class="alert-danger px-1" *ngIf="homeContact.get('email').hasError('required')">El email es obligatorio</small>
                <small class="alert-danger px-1" *ngIf="homeContact.get('email').hasError('email')">El email no es valido</small>
              </div>
          </div>

          <div class="py-2">
            <strong class="d-block">Nombre</strong>
            <input type="text" formControlName="nombre" name="nombre" id="nombre" class="form-control m-auto my-2"
            placeholder="Introduzca su nombre">
            <div *ngIf="homeContact.get('nombre').errors && homeContact.get('nombre').dirty">
              <small class="alert-danger px-1" *ngIf="homeContact.get('nombre').hasError('required')">El nombre es obligatorio</small>
            </div>
          </div>

          <div class="py-2">
            <strong class="d-block">Asunto</strong>
            <select class="form-control" formControlName="asunto" id="asunto">
              <option>Quiero ser patrocinador</option>
              <option>Tengo dudas</option>
            </select>
            <div *ngIf="homeContact.get('asunto').errors && homeContact.get('asunto').dirty">
              <small class="alert-danger px-1" *ngIf="homeContact.get('asunto').hasError('required')">El asunto es obligatorio</small>
            </div>
          </div>

          <div class="py-2">
            <strong class="d-block">Mensaje</strong>
            <textarea class="form-control" rows="5" formControlName="mensaje" id="mensaje" placeholder="Escriba aqui el mensaje..."></textarea>
            <div *ngIf="homeContact.get('mensaje').errors && homeContact.get('mensaje').dirty">
              <small class="alert-danger px-1" *ngIf="homeContact.get('mensaje').hasError('required')">El mensaje es obligatorio</small>
            </div>
          </div>
          
          <div class="py-2 text-center">
            <button class="btn btn-enviar w-25" [disabled]=homeContact.invalid>Enviar</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-5">
    Otros enlaces
  </div>
</div>