.btn-enviar{
    background: linear-gradient(41deg, rgba(136,0,138,1) 0%, rgba(44,166,167,1) 100%);
    color: white;
}
.btn-enviar:hover{
    background: linear-gradient(41deg, rgba(68,0,69,1) 0%, rgba(27,101,102,1) 100%);
    color: white;
}

.edit{
    color: white;
    cursor: pointer;
}

.edit:hover{
    color: grey;
}

.font-14px{
    font-size: 14px;
}

.border-none{
    border: 0px;
}

//SEPARADOR TITULO
.separator-title {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator-title::before,
.separator-title::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #fff;
}

.separator-title:not(:empty)::before {
    margin-right: 10px;
}

.separator-title:not(:empty)::after {
    margin-left: 10px;
}