<app-cabecera onload="comprobarMedia()"></app-cabecera>
<div *ngFor="let pregunta of preguntas; index as i" class="row m-0 p-0 d-flex justify-content-center">
    <div class="col-10 my-5 py-1 bg-black rounded">
        <div class="row m-0 p-0 d-flex justify-content-center">
            <div class="col-12 m-0">
                <small class="d-block">Creador: {{pregunta.pregunta.usuarioCreador.nombreUsuario}}</small>
                <p class="my-1">{{pregunta.pregunta.pregunta}}</p>
            </div>
            <div *ngFor="let respuesta of preguntas[i].respuestas; index2 as j" class="col-10 my-3 bg-white text-dark">
                <small class="d-block">{{respuesta.descripcion}}</small>
            </div>
            
        </div>
        
    </div>
</div>
