<app-cabecera onload="comprobarMedia()"></app-cabecera>
<div class="row m-0 p-0 d-flex justify-content-center">
    <div class="col-10 my-3 py-1 bg-black rounded">

        <button *ngIf="user.isLoged" class="btn btn-enviar" data-bs-toggle="modal" data-bs-target="#exampleModal">Abrir nuevo tema</button>

        <!-- Modal Borrar usuario -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content background-black">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Abrir tema</h5>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" rows="10" id="nuevoTema"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="crearTema()">Crear tema</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin borrar usuario -->
    </div>
</div>
<div *ngFor="let pregunta of preguntas; index as i" class="row m-0 p-0 d-flex justify-content-center">
    <div class="col-10 my-5 py-1 bg-black rounded">
        <div class="row m-0 p-0 d-flex justify-content-center">
            <div class="col-12 m-0">
                <small class="d-block">Creador: <span
                        class="fw-bold">{{pregunta.pregunta.usuarioCreador.nombreUsuario}}</span></small>
                <p class="my-1">{{pregunta.pregunta.pregunta}}</p>
            </div>
            <div *ngFor="let respuesta of preguntas[i].respuestas; index2 as j" class="col-10 my-3 bg-white text-dark">
                <p class="my-1">{{respuesta.descripcion}}</p>
                <small class="fw-bold d-block">{{respuesta.usuarioResponde.nombreUsuario}}</small>
                <button
                    *ngIf="user.isLoged && user.rol == 1 || user.rol == 2 || respuesta.usuarioResponde.nombreUsuario == user.nombreUsuario"
                    class="btn m-0 my-2 p-0" id="{{respuesta.id}}" (click)="deleteRespuesta(respuesta.id)">
                    <fa-icon [icon]="faTrash" class="btn btn-enviar"></fa-icon>
                </button>
            </div>

            <div class="col-10 my-3 bg-white text-dark d-flex justify-content-center">
                <textarea class="form-control my-1" rows="5" id="respuesta{{pregunta.pregunta.id}}"></textarea>
            </div>
            <button *ngIf="user.isLoged" class="w-25 my-1 btn btn-enviar"
                (click)="enviarRespuesta(pregunta.pregunta.id)">Enviar</button>
            <small *ngIf="!user.isLoged" class="text-center my-1">Para comentar en el foro tienes que <a
                    href="/login">iniciar sesion</a> primero.</small>
        </div>

    </div>
</div>