<div class="row m-0 sticky-top background-black" style="height: 60px;">
  <div class="col-2 align-self-center">
    <a href="/" class="navbar-brand">
      <img src="../../assets/img/LOGO_GG_negro.png" class="img-fluid" alt="GG_Logo" style="width: 50px;">
    </a>
  </div>
  <div class="col-10 align-self-center d-flex justify-content-end" id="padre">
    <div class="align-self-center" id="menu-icon">
      <button class="btn" (click)="desplegarMenu()" id="menu-icon-open">
        <img src="../../../assets/img/menu-icon2.png" style="width: 25px; height: 25px;">
      </button>
      <button class="btn" (click)="contraerMenu()" id="menu-icon-close">
        <img src="../../../assets/img/cerrar-menu.png" style="width: 25px; height: 25px;">
      </button>
    </div>

    <ul class="m-0 list-inline font-Ethnocentric" id="lista">
      <li class="my-3">
        <a class="text-normal text-white m-0 mx-3 p-0 py-2 h6 hover-rosa" routerLink="/torneos">Torneos</a>
      </li>
      <li class="my-3">
        <a class="text-normal text-white m-0 mx-3 p-0 py-2 h6 hover-azul" href="/juegos">Juegos</a>
      </li>
      <li class="my-3">
        <a class="text-normal text-white m-0 mx-3 p-0 py-2 h6 hover-rosa" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">Noticias</a>
      </li>
      <li class="my-3">
        <a class="text-normal text-white m-0 mx-3 p-0 py-2 h6 hover-azul" href="/glitchgaming">Glitch Gaming</a>
      </li>
      <li class="my-3">
        <a class="text-normal text-white m-0 mx-3 p-0 py-2 h6 hover-rosa" href="#">
          <fa-icon [icon]="faUser"></fa-icon>&nbsp;Mi cuenta
        </a>
      </li>
    </ul>
    <script type="text/javascript">

      function comprobarMedia() {
        alert('Tamaño cambiado');
        if (window.matchMedia("(min-width: 992px)").matches) {
          console.log('Mas de 992px');
          document.getElementById('padre').classList.remove('media-movil')
          cargarMediaPC();
        } else {
          console.log('Menos de 992px');
          document.getElementById('padre').classList.remove('media-pc')
          cargarMediaMovil();
        }
      }
      
      function cargarMediaPC() {
        document.getElementById('padre').classList.add('media-pc');
      }
      
      function cargarMediaMovil() {
        document.getElementById('padre').classList.add('media-movil');
      }
      
      window.onresize = comprobarMedia()
      
      </script>
  </div>
</div>