.sticky-top{
  position: -webkit-sticky !important;
  position: -moz-sticky !important;
  position: -o-sticky !important;
  position: -ms-sticky !important;
  position: sticky !important;
}

.text-normal{
  text-decoration: none;
}

.hover-rosa:hover{
    color: #F900FF !important;
}

.hover-azul:hover{
    color: #3EFEFF !important;
}


#lista-pc-padre{
  #lista-pc-hijo{
    display: flex !important;
  }
}

#menu-icon-movil{
  .cerrado{
    display: none !important;
  }
}

#lista-movil-padre{
  #lista-movil-hijo{
    display: none;
  }
}

#lista-movil-hijo.desplegar{
  display: block !important;
  position: absolute;
  right: 0% !important;
  top: 60px;
  background-color: #000;
  height: 100vh;
  transition: all 1s ease-in;
}

#lista-movil-hijo.contraer{
  position: absolute;
  right: calc(0% - 200px) !important;
  top: 60px;
  background-color: #000;
  height: 100vh;
  transition: all 1s ease-out;
  display: none;
}

#menu-icon-close.visible{
 display: flex !important;
}

#menu-icon-open.visible{
  display: flex !important;
}

#menu-icon-close.oculto{
  display: none !important;
}

#menu-icon-open.oculto{
  display: none !important;
}

.btn {
  display: inline-block !important;
  vertical-align: middle !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: 0.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}